[data-theme="dark"] {
  --bg-color: #0D0D0F;
  --color: white;
  --accent-1: #111;
  --accent-2: #999;
  --icon-filter: brightness(0) invert(1);
  --link-color: white;
  --nav-color: #15161A;
  --border-color: 1px solid #1d2532;
  --input-create-post: #1C1E29;
  --glow-color: #0058ca;
  --audience-arrow-color: 5px solid#ffff;
  --hover-elements: #bfc6d719;
  --glow-button: #0058ca;
  --top-nav-color: #1C1E29;
  --text-color: #BABABA;
  --tool-tip-bgcolor: #6961FF;
  --tool-tip-color: #ffff;
  --login-border-color: #545a63;
  --button-hover: #1c1f32;
  --input-signup-icon-filter: invert(0);
  --button-hover2: #247aeb;
  --friend-title: #898789;
  --TopNavHover: #272a42;
  --bg-validation: #291c1e;
}

[data-theme="light"] {
  --bg-color: #f6f6f9;
  --color: black;
  --accent-1: #EAEAEA;
  --accent-2: #333;
  --icon-filter: none;
  --link-color: black;
  --nav-color: #ffff;
  --border-color: 1px solid #e5e4e4;
  --input-create-post: #ececec;
  --glow-color: #0058ca;
  --audience-arrow-color: 5px solid black;
  --hover-elements: #ebebeb;
  --glow-button: #0058ca;
  --top-nav-color: #edf3fc;
  --text-color: #373131;
  --tool-tip-bgcolor: #6961FF;
  --tool-tip-color: #ffff;
  --login-border-color: #7c7c7c;
  --button-hover: #e5e7ea;
  --input-signup-icon-filter: invert(1);
  --button-hover2: #247aeb;
  --friend-title: #898789;
  --TopNavHover: #d6d6d6;
  --bg-validation: #f8d2d7;
}

#ChangeProfile-Overlay {
  width: 100vw;
  height: 100vh;
  background-color: #24262aa7;
  z-index: 5;
  position: fixed;
  display: none;
  overflow: hidden;
  backdrop-filter: blur(2px);
}

#ChangeProfile-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 30rem;
  background-color: var(--nav-color);
  border-radius: 9px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-out forwards;
}

#ChangeProfile-container h3 {
  padding: 0.6rem 1rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.imageContainer-Parent{
  display: flex;
  justify-content: center;
  align-items: center;
}

.CoverContainer-Parent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  width: 100%;
}

#imageContainer {
  display: none;
  border: none;
  max-width: 100%;
  height: 20rem;
}

#CurrentimageContainer{
  display: flex;
  border: none;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  object-fit: cover;
}

.ChangeProfile-Btns {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ChangeCover-Btns {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.CPB-Top {
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
  width: 100%;
  display: none;
  justify-content: space-evenly;
  align-items: center;
}

.CPB-Top button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--input-create-post);
  border: none;
  border-radius: 50%;
  color: var(--text-color);
}

.CPB-Top button:hover {
  background-color: var(--TopNavHover);
  cursor: pointer;
}

.CPB-Top button img {
  width: 1.1rem;
  height: 1.1rem;
  filter: var(--icon-filter);

}


.CPB-TopCover {
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
  width: 100%;
  display: none;
  justify-content: space-evenly;
  align-items: center;
}

.CPB-TopCover button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--input-create-post);
  border: none;
  border-radius: 50%;
  color: var(--text-color);
}

.CPB-TopCover button:hover {
  background-color: var(--TopNavHover);
  cursor: pointer;
}

.CPB-TopCover button img {
  width: 1.1rem;
  height: 1.1rem;
  filter: var(--icon-filter);

}

.CPB-Bottom {
  margin-top: 1rem;
  row-gap: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.CPB-Bottom button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9rem 0.5rem;
  background-color: var(--input-create-post);
  border: none;
  color: var(--text-color);
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

.CPB-Bottom2 {
  margin-top: 1rem;
  row-gap: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.CPB-Bottom2 button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.9rem 0.5rem;
  background-color: var(--input-create-post);
  border: none;
  color: var(--text-color);
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

#SaveNewProfile{
  position: relative;
  display: none;
}

#SaveNewCover{
  position: relative;
  display: none;
}

#Browse-Profile:hover {
  background-color: var(--button-hover);
  cursor: pointer;
}

#Browse-Cover:hover{
  background-color: var(--button-hover);
  cursor: pointer;
}

#CancelNewCover:hover{
  background-color: var(--button-hover);
  cursor: pointer;
}

#SaveNewProfile:hover{
  background-color: var(--button-hover);
  cursor: pointer;
}

#SaveNewCover:hover{
  background-color: var(--button-hover);
  cursor: pointer;
}

#CancelNewProfile:hover{
  background-color: var(--button-hover);
  cursor: pointer;
}

.tooltip {
  position: relative;

}

.tooltip .tooltiptext {
  visibility: hidden;
  bottom: 130%;
  left: -160%;
  width: 9rem;
  text-align: center;
  border-radius: 10px;
  padding: 0.6rem;
  color: var(--text-color);
  position: absolute;
  background-color: var(--input-create-post);
  z-index: 2;
  font-size: 0.7rem;
  font-family: "Work Sans", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--input-create-post) transparent transparent transparent;
}

 .cropper-wrap-box{
  background-color: var(--input-create-post);
}

.cropper-modal{
  opacity: 0.3;
}

.loader7 {
  position: absolute;
  border: 0.2rem solid white;
  border-top: 0.2rem solid #6587e6;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  top: 0.7rem;
  animation: spin 2s linear infinite;
  right: 7.8rem;
  display: none;
}

.loader8 {
  position: absolute;
  border: 0.2rem solid white;
  border-top: 0.2rem solid #6587e6;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  top: 0.7rem;
  animation: spin 2s linear infinite;
  right: 9rem;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.Profile-Validation{
  padding: 0.8rem 1rem;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-family: "Work Sans", sans-serif;
  background-color: var(--bg-validation);
}

.Profile-Validation img{
  filter: var(--icon-filter);
  width: 1.1rem;
  height: 1.1rem;
  margin-right: 0.7rem;
  object-fit: cover;
}

.Cover-Validation{
  padding: 0.8rem 1rem;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-family: "Work Sans", sans-serif;
  background-color: var(--bg-validation);
}

.Cover-Validation img{
  filter: var(--icon-filter);
  width: 1.1rem;
  height: 1.1rem;
  margin-right: 0.7rem;
  object-fit: cover;
}


.GIF-Note{
  padding: 0.8rem 1rem;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  color: var(--text-color);
  background-color: var(--bg-validation);
}

#ChangeCover-Overlay{
  width: 100vw;
  height: 100vh;
  background-color: #24262aa7;
  z-index: 5;
  position: fixed;
  display: none;
  overflow: hidden;
  backdrop-filter: blur(2px);
}

#ChangeCover-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 32rem;
  background-color: var(--nav-color);
  border-radius: 9px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-out forwards;
}

#ChangeCover-container h3 {
  padding: 0.6rem 1rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

#CoverContainer {
  display: none;
}
