* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  visibility: visible;
  opacity: 1;
}

[data-theme="dark"] {
  --bg-color: #0D0D0F;
  --color: white;
  --accent-1: #111;
  --accent-2: #999;
  --icon-filter: brightness(0) invert(1);
  --link-color: white;
  --nav-color: #15161A;
  --border-color: 1px solid #1d2532;
  --input-create-post: #1C1E29;
  --glow-color: #0058ca;
  --audience-arrow-color: 5px solid#ffff;
  --hover-elements: #bfc6d719;
  --glow-button: #0058ca;
  --top-nav-color: #1C1E29;
  --text-color: #BABABA;
  --tool-tip-bgcolor: #6961FF;
  --tool-tip-color: #ffff;
  --login-border-color: #545a63;
  --button-hover: #1c1f32;
  --input-signup-icon-filter: invert(0);
  --button-hover2: #247aeb;
  --friend-title: #898789;
  --TopNavHover: #272a42;
}

[data-theme="light"] {
  --bg-color: #f6f6f9;
  --color: black;
  --accent-1: #EAEAEA;
  --accent-2: #333;
  --icon-filter: none;
  --link-color: black;
  --nav-color: #ffff;
  --border-color: 1px solid #e5e4e4;
  --input-create-post: #ececec;
  --glow-color: #0058ca;
  --audience-arrow-color: 5px solid black;
  --hover-elements: #ebebeb;
  --glow-button: #0058ca;
  --top-nav-color: #edf3fc;
  --text-color: #373131;
  --tool-tip-bgcolor: #6961FF;
  --tool-tip-color: #ffff;
  --login-border-color: #7c7c7c;
  --button-hover: #e5e7ea;
  --input-signup-icon-filter: invert(1);
  --button-hover2: #247aeb;
  --friend-title: #898789;
  --TopNavHover: #d6d6d6;
}

#EditPost-Overlay{
  width: 100vw;
  height: 100vh;
  background-color: #24262aa7;
  z-index: 5;
  position: fixed;
  display: none;
  overflow: hidden;
  backdrop-filter: blur(2px);
}

