* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
    background: #2e78d9;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 0.2rem;
}

html {
    visibility: visible;
    opacity: 1;
  }

body {
    background: url("https://ik.imagekit.io/b9bdd5j68/tr:w-1280,h-720/32998500_890684131445%20(1).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: black;
}


.Down-Menu{
    display: none;
}

.responsive{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    padding: 2rem;
    max-width: 1980px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.CC-Top h2{
    font-size: clamp(3rem, 3vw, 3.2rem);
}

.CC-Top p{
    font-size: clamp(0.8rem, 0.9vw, 0.8rem);
}


.CC-Top1 img{
    width: 4.8rem;
    height: 4.8rem;
    object-fit: cover;
}

.CC-Mid input,
.CC-Bottom,
.CC-Footer button,
.CC-Footer2 p,
.CC-Footer3 button,
.CC-Footer4 p{
    font-size: clamp(0.7rem, 0.9vw, 0.8rem);
}

#message{
    font-size: clamp(0.8rem, 0.9vw, 0.8rem);
    color: rgb(255, 49, 49);
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Support-Box {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}


nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 4rem;
    margin-top: 0.5%;
}

nav ul {
    padding: 0.3rem 1.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 55rem;
    height: 3rem;
    list-style: none;
    color: white;
    font-family: "Work Sans", sans-serif;
    font-size: clamp(0.9rem, 1vw, 0.9rem);
}

.MC-Left a{
    display: flex;
    text-decoration: none;
}

.MC-Left{
    align-items: center;
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 25%;
}

.MC-Left img{
    width: 2.8rem;
    height: 2.8rem;
    object-fit: cover;
}

.MC-Left h1{
    font-family: "Croissant One", serif;
    color: #ffffff;
    margin-left: 10%;
    display: flex;
    align-items: center;
    font-size: clamp(1.6rem, 1vw, 1.5rem);
}

.MC-Cont{
    display: flex;
    width: 33%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.MC-Cont a{
    text-decoration: none;
    color: white;
}

.MC-Right{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 30%;
    height: 100%;
    gap: 2%;
}



.MC-Right li{
    padding: 0.6rem 1rem;
}

.MC-Right a{
    text-decoration: none;
    color: white;
}

#MC-Login{
    border: 1px solid #101b2f;
    border-radius: 10px;
    width: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#MC-Login:hover{
    background-color: #101b2f;
    cursor: pointer;
}

#MC-SignUp{
    background: linear-gradient(195deg, #1c1884, rgba(75, 60, 214, 0));
    backdrop-filter: blur(1px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0.8rem 1.5rem;

}

#MC-SignUp:hover{
    background-color: #112447;
    cursor: pointer;
}


@media (max-width: 1980px) {

    .responsive{
        max-width: 1536px;
    }

    .Menu{
        display: none;
    }
    .Down-Menu{
        display: none;
    }

    .background{
        display: flex;
        flex-direction: column;
        width: 100vw;
        max-width: 100%;
        height: 100vh;
    }

    .container-content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        width: 30%;
        max-width: 70%;
        padding: 2rem;
    }

    .CC-Top{
        width: 80%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: flex-start;
        align-items: center;
        font-family: "Work Sans", sans-serif;
        margin-bottom: 1.3rem;
    }

    .CC-Top h2{
        font-family: "Work Sans", sans-serif;
        font-weight: 600;
        font-style: normal;
        margin-bottom: 2%;
        color: #fbfbfb;
        width: fit-content;
        font-size: 2rem;
    }

    .CC-Top p{
        font-weight: 400;
        color: #e3e3e3;
        width: fit-content;
    }


    .CC-TopR{
        width: 80%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: flex-start;
        align-items: center;
        font-family: "Work Sans", sans-serif;
        margin-bottom: 2rem;
    }

    .CC-TopR img{
        width: 6rem;
        height: 6rem;
        object-fit: cover;
        margin-bottom: 0.2rem;
    }

    .CC-TopR h2{
        line-height: 2rem;
        font-family: "Work Sans", sans-serif;
        font-weight: 600;
        font-style: normal;
        margin-bottom: 0.3rem;
        color: #89a4ff;
        width: fit-content;
        font-size: 2rem;
        font-size: clamp(1.9rem, 1vw,2rem);
    }

    .CC-TopR p{
        font-weight: 400;
        color: #e3e3e3;
        width: fit-content;
        font-size: clamp(0.8rem, 1vw, 0.6rem);
    }

    .CC-TopP{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: flex-start;
        align-items: center;
        font-family: "Work Sans", sans-serif;
        padding: 1rem;
    }

    .CC-TopP img{
        margin-bottom: 0.5rem;
        width: 4rem;
        height: 4rem;
        object-fit: cover;
    }

    .CC-TopP h2{
        font-family: "Work Sans", sans-serif;
        font-weight: 600;
        font-style: normal;
        margin-bottom: 2%;
        color: #89a4ff;
        width: fit-content;
        font-size: 2rem;
        font-size: clamp(1.8rem, 1vw,2rem);
    }

    .CC-TopP p{
        font-weight: 400;
        color: #e3e3e3;
        width: fit-content;
        font-size: clamp(0.8rem, 1vw, 0.6rem);
        width: 90%;
    }

    .CC-TopP a{
        color: #89a4ff;
        text-decoration: none;
    }

    .ErrorPass{
        font-size: clamp(0.8rem, 0.9vw, 0.8rem);
        color: rgb(255, 49, 49);
        font-family: "Work Sans", sans-serif;
        font-weight: 600;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.8rem;
    }

    .ErrorPass ul{
        list-style: none;
    }

    .ErrorPass li{
        padding: 0.5rem;
    }

    .CC-TopPR{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: flex-start;
        align-items: center;
        font-family: "Work Sans", sans-serif;
        padding: 1rem;
    }

    .CC-TopPR img{
        margin-top: -1rem;
        width: 4rem;
        height: 4rem;
        object-fit: cover;
        margin-bottom: 0.5rem;
    }

    .CC-TopPR h2{
        font-family: "Work Sans", sans-serif;
        font-weight: 600;
        font-style: normal;
        margin-bottom: 2%;
        color: #89a4ff;
        width: fit-content;
        font-size: 2rem;
        font-size: clamp(1.8rem, 1vw,2rem);
    }

    .CC-TopPR p{
        font-weight: 400;
        color: #e3e3e3;
        width: fit-content;
        font-size: clamp(0.8rem, 1vw, 0.6rem);
        width: 90%;
    }

    .CC-Mid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 90%;
    }


    .CC-Mid input {
        margin-bottom: 3%;
        width: 95%;
        padding: 0.8rem;
        background: none;
        color: #e3e3e3;
        border: 1px solid #fbfbfb37;
        padding-left: 2.6rem;
        border-radius: 5px;
        outline: none;
    }

    .CC-Mid input::placeholder{
        color: #fbfbfbaf;
    }

    .SCC-Mid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 90%;
        height: 14rem;
    }


    .SCC-Mid input {
        margin-bottom: 3%;
        width: 95%;
        padding: 0.8rem;
        background: none;
        color: #e3e3e3;
        border: 1px solid #fbfbfb37;
        padding-left: 2.6rem;
        border-radius: 5px;
        outline: none;
    }

    .SCC-Mid input::placeholder{
        color: #fbfbfbaf;
    }

    .input-icon {
        position: relative;
    }

    .input-icon img {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        width: 1.2rem;
        height: auto;
    }

    .CC-Bottom{
        width: 85%;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        display: flex;
        font-family: "Work Sans", sans-serif;
    }

    .CCB-Left{
        display: flex;
        justify-content: space-between;
        width: 50%;
    }

    .CCB-Right{
        justify-content: end;
        width: 50%;
    }

    .CCB-Right a{
        color: white;
        text-decoration: none;
    }

    .CCB-Right a:hover{
        color: #2e78d9;
    }

    .CCB-Left div{
        width: 100%;
    }

    .CCB-Left div label{
        margin-right: 5% ;
    }

    .CC-Bottom div{
        display: flex;
        align-items: center;
    }

    .CC-Footer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .CC-Footer button:not(#ResetPassBtn){
        width: 95%;
        height: 2.5rem;
        background-color: rgb(54, 54, 212);
        color: #fbfbfb;
        font-weight: 700;
        border: none;
        border-radius: 5px;
    }

    .CC-Footer button:hover{
        background: rgb(28, 28, 171);
        cursor: pointer;
    }

    .CC-FooterPR{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .CC-FooterPR button:not(#ResetPassBtn){
        width: 95%;
        height: 2.5rem;
        background-color: rgb(54, 54, 212);
        color: #fbfbfb;
        font-weight: 700;
        border: none;
        border-radius: 5px;
    }

    .CC-FooterPR button:hover{
        background: rgb(28, 28, 171);
        cursor: pointer;
    }

    #ResetPassBtn{
        width: 95%;
        height: 2.5rem;
        background-color: rgb(54, 54, 212);
        color: #fbfbfb;
        font-weight: 700;
        border: none;
        border-radius: 5px;
        margin-top: 1rem;
    }

    .CC-Footer3{
        width: 90%;
    }


    .CC-Footer3 a{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #fbfbfb;
        text-decoration: none;

    }

    .CC-Footer3 button{
        border-radius: 5px;
        width: 95%;
        height: 2.8rem;
        color: #fbfbfb;
        font-family: "Work Sans", sans-serif;
        font-weight: 400;
        background: none;
        border: 1px solid #fbfbfb37;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .CC-Footer3 img{
        width: 8%;
        height: 70%;
        object-fit: cover;
        margin-right: 4%;
    }

    .CC-Footer2{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Work Sans", sans-serif;
        margin-bottom: 2rem;
    }

    .CC-Footer2 p{
        color: #fbfbfba7;
    }

    .CC-Footer2 a{
        text-decoration: none;
    }

    .CC-Footer2 a:hover{
        color: #2e78d9;
    }

    .CC-Footer4{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.4rem;
        font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
        font-size: 0.8rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .CC-Footer4 a {
        color: #89a4ff;
        text-decoration: none;
    }

    .CC-Footer4 a :hover{
        color: #0058ca;
    }


    .border{
        margin-left: 5%;
        margin-right: 5%;
        width: 30%;
        border-bottom: 1px solid #fbfbfb37;
    }

    .glass{
        background: linear-gradient(135deg, rgba(4, 2, 35, 0.389), rgba(3, 7, 47, 0.292));
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(10px);
        border:1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        height: 100vh;
    }

    .glass2{
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.063), rgba(255, 255, 255, 0));
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(10px);
        border:1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    }

    .google-login-link:hover{
        background-color: #04035354;
        cursor: pointer;
    }
}


@media (max-width: 1536px) {
    .responsive{
        max-width: 1280px;
    }

    .background{
        height: 100vh;
    }

    .container {
        width: 36%;
        max-width: 70%;
    }

    .Menu{
        display: none;
    }

    .Down-Menu{
        display: none;
    }

}

@media (max-width: 1280px) {

    .responsive{
        max-width: 1024px;
    }

    .background{
        height: 100vh;
    }

    .glass{
        height: 100vh;
    }

    .Menu{
        display: none;
    }

    .Down-Menu{
        display: none;
    }


    .container {
        width: 45%;
        max-width: 70%;

    }
}

@media (max-width: 1024px) {
    .responsive{
        max-width: 768px;
    }

    .background{
        height: 100vh;
    }

    .container {
        width: 61%;
        max-width: 70%;
    }

    .MC-Cont a{
        display: none;
    }

    .MC-Right a{
        display: none;
    }

    .Menu{
        display: flex;
    }

    .Menu img{
        width: 1.4rem;
        height: 1.2rem;
        object-fit: cover;
    }

    .Down-Menu{
        position: absolute;
        display: none;
        flex-direction: column;
        top: 4rem;
        width:98%;
        background: linear-gradient(115deg, rgba(255, 255, 255, 0.023), rgba(255, 255, 255, 0));
        backdrop-filter: blur(150px);
        -webkit-backdrop-filter: blur(20rem);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        border-radius: 10px;
    }

    .Down-Menu a{
        text-decoration: none;
        width: 100%;
    }

    .Down-Menu li{
        list-style: none;
        padding: 1rem 1rem;
        color: white;
        font-family: "Work Sans", sans-serif;
        font-size: clamp(0.9rem, 1vw, 1.5rem);
    }

    .Down-Menu li:hover{
        background-color: #10264f50;
    }
}

@media (max-width: 768px) {
    .responsive{
        max-width:  640px;
    }

    .container {
        width: 100%;
        max-width: 70%;
    }

    .Down-Menu{
        width: 98%;
    }
}

@media (max-width: 640px) {
    .responsive{
        max-width:  475px;
    }

    .container {
        width: 89%;
        max-width: 100%;
    }
}

@media (max-width: 475px) {
    .responsive{
        max-width:  320px;
    }

    .container {
        width:  100%;
        max-width: 100%;
    }
}
